.Right-Body{
    border-radius: 19px;
    box-shadow: -4px 5px 31px 0px rgba(0, 0, 0, 0.11);
    height: 600px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}